* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navBtnHoverColor: #291609;
    --navBtnActiveColor: #130903;

    --reserveBtnColor: rgb(195, 125, 29, 1);
    --reserveBtnHover: rgb(200, 130, 34, 1);
    --reserveBtnActive: rgb(190, 120, 24, 1);
    --textColorLight: #decca7;
    --textColorDark: #decca7f5;
    --bgColDark: #1b0e06;

    --borderColorDark: #76491b33;
}

@font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: DMSerif;
    src: url("/assets/fonts/DMSerif/DMSerifText-Regular.ttf");
}

section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    color: var(--textColorLight);
}

body {
    width: 100%;
    font-family: DMSerif;
    background-color: black;
}

/* nav */
nav {
    width: 100%;
    height: 90px;
    z-index: 2;

    background-color: var(--bgColDark);
    border-bottom: 1px solid var(--borderColorDark);
    color: var(--textColorLight);

    position: fixed;
    filter: opacity(.85);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0 1rem 0 3rem;
}
.logo {
    font-size: 2rem;
    font-weight: lighter;
}
.btn {
    transition: all 200ms;

    height: 100%;
    width: 140px;

    padding: 1rem;

    font-size: 1.25rem;
    font-weight: lighter;
    font-family: inherit;
    color: inherit;

    background-color: var(--bgColDark);
    border: none;

    cursor: pointer;
}
.btn:hover {
    background-color: var(--navBtnHoverColor);
}
.btn:active {
    background-color: var(--navBtnActiveColor);
}
.home {
    margin-left: auto;
}

/* background img inside sections */
.bg-img {
    width: 100vw;
    position: absolute;

    filter: brightness(0.4);
    user-select: none;
}

/**/
.heading-text {
    font-size: 4.7rem;
}
.main-text {
    font-size: 17px;
    line-height: 1.6;
    color: var(--textColorDark);
}
/**/

/* hero section */
.hero-box {
    position: absolute;
    top: 50%;
    left: 6rem;    
    transform: translateY(-50%);

    z-index: 1;

    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem .5rem 1.5rem;
}
.book-reservation { 
    height: 40px;

    font-family: inherit;
    color: #5a3a0d;
    font-size: 1.2rem;

    margin-left: auto;
    margin-top: 1rem;
    padding: 0 1.3rem 0 1.3rem;

    border-radius: 0;
    background-color: var(--reserveBtnColor);

    border: 1px rgba(255, 255, 255, 0.216) solid;

    cursor: pointer;
}
.book-reservation:hover {
    background-color: var(--reserveBtnHover);
}
.book-reservation:active {
    background-color: var(--reserveBtnActive);
}

/* about us section */
#about-us {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.about-us-box {
    position: absolute;
    top: 30%;
    left: 6rem;

    z-index: 1;

    width: 45%;

    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem .5rem 1rem;
}
.about-us-box .main-text {
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #373622;
}
::-webkit-scrollbar-thumb {
    background-color: #4d474b;
    border-radius: 6px;
}

/* our menu */
#our-menu {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.our-menu-box {
    z-index: 1;

    position: relative;
    top: 20%;
    left: 6rem;

    width: 1050px;
    height: 600px;

    display: flex;
    flex-direction: column;
}
.menu-section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.menu-card {
    width: 255px;
    height: 100%;

    padding: 5px;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
}
.menu-list {
    margin-bottom: 2rem;
}
.menu-heading {
    margin-bottom: 5px;
}
.menu-line {
    display: flex;
    margin-bottom: 8px;
}
.menu-item {
    padding-left: 3px;
    list-style: none;
}
.menu-price {
    margin-left: auto;
}